<!-- Sidebar  -->
<nav id="sidebar">
    <div id="dismiss">
        <i class="fas fa-arrow-left"></i>
    </div>

    <div class="sidebar-header">
        <h3>cloudmesh-cc</h3>
    </div>

    <ul class="list-unstyled components">
        <li class="active">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Home</a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="https://google.com">Google</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/docs">About</a>
        </li>
        <li>
            <a href="https://github.com/cloudmesh/cloudmesh-cc#readme">Documentation</a>
        </li>
        <li>
            <a href="#workflowsSubmenu" data-toggle="collapse" aria-expanded="false">Workflows</a>
            <ul class="collapse list-unstyled" id="workflowsSubmenu">
                <li>
                    <a href="/workflows?output=json">JSON</a>
                </li>
                <li>
                    <a href="/workflows?output=csv">CSV</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="mailto:laszewski@gmail.com">Contact</a>
        </li>
    </ul>
</nav>