<!-- Sidebar  -->
<nav id="sidebar">
    <div class="collapse show" id="navbarcool">

        <div class="sidebar-header">
            <a class="navbar-brand" href="#">
      <img src="https://cloudmesh.github.io/cloudmesh-manual/_static/logo3.png" height="50" alt="Cloudmesh Logo"
        loading="lazy" />
                <br>
            <b><small>Cloudmesh</small></b>
        </a>

        </div>

        <ul class="list-unstyled components">
            <li>
                <a href="/"><i class="fa fa-home" aria-hidden="true"></i> &nbsp; Home</a>
            </li>
            <li>
                <a href="#docSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-file" aria-hidden="true"></i> &nbsp; Documentation</a>
                <ul class="collapse show list-unstyled" id="docSubmenu">
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                    <li>
                        <a target="_blank" rel="noopener noreferrer" href="https://github.com/cloudmesh/cloudmesh-cc">GitHub</a>
                    </li>
                </ul>
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-share-alt" aria-hidden="true"></i> &nbsp; Workflows</a>
                <ul class="collapse show list-unstyled" id="pageSubmenu">
                    {% for workflow in workflowslist %}
                    <li>
                        <a href="/workflow/{{workflow}}?output=table">{{workflow}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </li>
            <li>
                <a href="#apiSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-file-text" aria-hidden="true"></i> &nbsp; API</a>
                <ul class="collapse show list-unstyled" id="apiSubmenu">
                    <li>
                        <a href="/docs">Docs</a>
                    </li>
                    <li>
                        <a href="/redoc">Redoc</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/preferences" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="" aria-hidden="true"></i> &nbsp; Preferences</a>
                <ul class="collapse show list-unstyled" id="apiSubmenu">
                    <li>
                        <a href="/preferences/">Table</a>
                    </li>
                    <li>
                        <a href="/preferences/example">Example</a>
                        <!-- this automatically resets and uploads the workflow-example. -->
                    </li>
                </ul>
            </li>
        </ul>

        <ul class="list-unstyled CTAs">
            <!-- <li>
                <a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a>
            </li>
            <li>
                <a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a>
            </li> -->
        </ul>
    </div>
</nav>