<!-- Navbar -->
<nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-blue fixed-top col-12">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <font color="white">cloudmesh-cc</font>

    <!-- Brand -->
    <a class="navbar-brand" href="#">
      <img src="https://cloudmesh.github.io/cloudmesh-manual/_static/logo3.png" height="50" alt="Cloudmesh Logo"
        loading="lazy" />
    </a>
    <!-- Search form -->

    <!-- Right links -->

  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->