{% set workflowslist = workflowlist %}
{% extends "base.html" %}

{% block title %}cloudmesh-cc{% endblock %}
{% block head %}
{{ super() }}

{% endblock %}

{% block page_content %}
        <!-- Page Content  -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="home">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="about">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="contact">Contact</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="manpage">Man page</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://cloudmesh.github.io/cloudmesh-cc/">Manual</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://github.com/cloudmesh/cloudmesh-cc">GitHub</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

<div class="container">
    {{ html | safe }}
</div>

{% endblock %}

{% block scripts %}
{{ super() }}



{% endblock %}