{% set workflowslist = workflowlist %}
{% extends "base.html" %}

{% block title %}cloudmesh-cc{% endblock %}
{% block head %}
{{ super() }}


{% endblock %}


{% block page_content %}

<script type="text/javascript">
$(document).ready(function () {
    $('#example').DataTable({
        lengthMenu: [
            [-1, 10, 25, 50],
            ['All', 10, 25, 50],
        ],
    });
});
</script>

<style>
    .navbar-nav {
        display: flex;
        align-items: center;
        margin-bottom: 12px;
    }

    .nav-item.heading {
        margin-right: 10px;
    }
</style>

<script>
    var source = new EventSource("http://127.0.0.1:8000/workflow-graph/{{ name }}");
    source.onmessage = function(event) {
        document.getElementById("logs").innerHTML = event.data
    }
        var source2 = new EventSource("http://127.0.0.1:8000/done-count/{{ name }}");
    source2.onmessage = function(event2) {
        document.getElementById("donenumber").innerHTML = event2.data
    }
    var source3 = new EventSource("http://127.0.0.1:8000/ready-count/{{ name }}");
    source3.onmessage = function(event3) {
        document.getElementById("readynumber").innerHTML = event3.data
    }
    var source4 = new EventSource("http://127.0.0.1:8000/failed-count/{{ name }}");
    source4.onmessage = function(event4) {
        document.getElementById("failednumber").innerHTML = event4.data
    }
    var source5 = new EventSource("http://127.0.0.1:8000/submitted-count/{{ name }}");
    source5.onmessage = function(event5) {
        document.getElementById("submittednumber").innerHTML = event5.data
    }
    var source6 = new EventSource("http://127.0.0.1:8000/running-count/{{ name }}");
    source6.onmessage = function(event6) {
        document.getElementById("runningnumber").innerHTML = event6.data
    }
</script>
        <!-- Page Content  -->
<div id="content">
<h1>{{ name|safe }}</h1>
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">
                        <button class="btn btn-dark d-inline-block d-lg-none ml-auto"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#navbarSupportedContent"
                                aria-controls="navbarSupportedContent"
                                aria-expanded="false"
                                aria-label="Toggle navigation">
                            <i class="fas fa-align-justify"></i>
                        </button>

                        <div class="collapse navbar-collapse flex-column ms-auto justify-content-start" id="navbarSupportedContent">
                            <ul class="nav navbar-nav me-auto">
                                <li class="nav-item heading">
                                    <b class="text-black"> Jobs </b>

                                </li>
                            &nbsp;
                                <li class="nav-item">
                                    <button type="button" class="btn bg-danger btn-sm">
                                        <small class="text-white"> <i class="fa fa-close" aria-hidden="true"></i> &nbsp; Failed</small>
                                        <span class="badge bg-light text-dark"><div id="failednumber"></div></span>
                                    </button>
                                </li>
                            &nbsp;
                                <li class="nav-item">
                                    <button type="button" class="btn bg-success btn-sm">
                                        <small class="text-white"> <i class="fa fa-check" aria-hidden="true"></i> &nbsp; Done</small>
                                        <span class="badge bg-light text-dark"><div id="donenumber"></div></span>
                                    </button>
                                </li>
                            &nbsp;
                                <li class="nav-item">
                                    <button type="button" class="btn bg-info btn-sm">
                                        <small class="text-black"><i class="fa fa-cog" aria-hidden="true"></i> &nbsp; Running</small>
                                        <span class="badge bg-light text-dark"><div id="runningnumber"></div></span>
                                    </button>
                                </li>
                            &nbsp;

                                <li class="nav-item">
                                    <button type="button" class="btn bg-warning btn-sm">
                                        <small class="text-black"><i class="fa fa-external-link" aria-hidden="true"></i> &nbsp; Submitted</small>
                                        <span class="badge bg-light text-dark"><div id="submittednumber"></div></span>
                                    </button>
                                </li>
                            &nbsp;

                                <li class="nav-item">
                                    <button type="button" class="btn bg-light btn-sm border border-dark">
                                        <small class="text-black"><i class="fa fa-square" aria-hidden="true"></i> &nbsp; Ready</small>
                                        <span class="badge bg-light text-dark"><div id="readynumber"></div></span>
                                    </button>
                                </li>
                            &nbsp;
                                <li class="nav-item">
                                    <button type="button" class="btn bg-secondary btn-sm">
                                        <small class="text-white"> <i class="fa fa-plus-square" aria-hidden="true"></i> &nbsp; Add</small>
                                    </button>
                                </li>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                            </ul>

                            <ul class="nav navbar-nav me-auto">
                                <li class="nav-item heading">
                                    <b class="text-black"> Workflow </b>
                                </li>
                                <li class="nav-item">
                                    <button type="button" class="btn bg-secondary btn-sm">
                                        <a href="/workflow/{{ name }}?output=table&initialized=True">
                                            <small class="text-white"><i class="fa fa-table" aria-hidden="true"></i> &nbsp; Table</small>
                                        </a>
                                    </button>
                                </li>
                            &nbsp;
                                <li class="nav-item">
                                    <button type="button" class="btn bg-success btn-sm">
                                        <a href="/workflow/run/{{ name }}?redirect=graph">
                                            <small class="text-white"><i class="fa fa-rocket" aria-hidden="true"></i> &nbsp; Run</small>
                                        </a>
                                    </button>
                                </li>
                            &nbsp;

                            <li class="nav-item">
                                <button type="button" class="btn bg-danger btn-sm">
                                    <small class="text-white"><i class="fa fa-ban" aria-hidden="true"></i> &nbsp; Stop</small>
                                </button>
                            </li>
                            &nbsp;

                            <!-- popup yes/no choice in bootstrap needed ... -->
                            <li class="nav-item">
                                <button type="button" class="btn bg-warning btn-sm">
                                    <a href="/reset/{{ name }}?redirect=graph">
                                        <small><i class="fa fa-recycle" aria-hidden="true"></i> &nbsp; Reset</small>
                                    </a>
                                </button>
                            </li>
                            &nbsp;

                            <li class="nav-item">
                                <button type="button" class="btn bg-danger btn-sm">
                                            <a href="/delete/{{ name }}">
                                                <small class="text-white"><i class="fa fa-trash" aria-hidden="true"></i> &nbsp; Delete</small>
                                            </a>
                                </button>
                            </li>
                            &nbsp;

                            <li class="nav-item">
                            <button type="button" class="btn bg-info btn-sm">
                                <a href="/edit/{{ name_of_workflow }}"><small><i class="fa fa-pen-to-square" aria-hidden="true"></i> &nbsp; Edit</small></a>
                            </button>
                            </li>

                        </ul>
                    </div>
                </div>
            </nav>

<div id="logs" class="container col-12">


</div>

</div>



{% endblock %}

{% block scripts %}
{{ super() }}
                
{% endblock %}