{% extends "base.html" %}

{% block title %}cloudmesh-cc{% endblock %}
{% block head %}
{{ super() }}

{% endblock %}

{% block page_content %}
{% include 'include/sidebar.html' %}
<div class="container">
    <table id="example" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>Workflow</th>
                </tr>
            </thead>
            <tbody>
                {% for job in dictionary %}
                <tr>
                    <td>{{job}}</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>Workflow</th>
                </tr>
            </tfoot>
        </table>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}



{% endblock %}