{% set workflowslist = workflowlist %}
{% extends "base.html" %}

{% block title %}cloudmesh-cc{% endblock %}
{% block head %}
{{ super() }}

{% endblock %}

{% block page_content %}
        <!-- Page Content  -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="home">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="about">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="contact">Contact</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://github.com/cloudmesh/cloudmesh-cc">GitHub</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

<div class="container">
<form method="post">
    <h1>Table Display</h1>
    Check the columns to show on the table.
    <br>
    <br>
    <input type="checkbox" id="idnumber" name="id" value="True" {{ "checked" if preferences['id'] == True }}>
    ID
    <br>
    <input type="checkbox" id="name" name="name" value="True" {{ "checked" if preferences['name'] == True }}>
    Name
    <br>
    <input type="checkbox" id="status" name="status" value="True" {{ "checked" if preferences['status'] == True }}>
    Status
    <br>
    <input type="checkbox" id="host" name="host" value="True" {{ "checked" if preferences['host'] == True }}>
    Host
    <br>
    <input type="checkbox" id="progress" name="progress" value="True" {{ "checked" if preferences['progress'] == True }}>
    Progress
    <br>
    <input type="checkbox" id="script" name="script" value="True" {{ "checked" if preferences['script'] == True }}>
    Script
    <br>
    <br>
    <h1>Refresh</h1>
    <input type="checkbox" id="graph" name="graphrefresh" value={{preferences['graph']}}>
    Graph Refresh Upon Workflow Change
    <!-- default true? -->
    <br>
    <input type="checkbox" id="table" name="tablerefresh" value={{preferences['table']}}>
    Table Refresh Upon Workflow Change
    <br>
    <br>
    <input type="submit" value="Save">
</form>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}



{% endblock %}