<html>
<head>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script type="text/javascript">


// $(document).ready(function() {
//     $('#example').DataTable(
//         {
//             "ordering": true,
//         }
//     );
// } );

$(document).ready(function () {
    $('#example').DataTable({
        order: [[3, 'desc']],
    });
});

    </script>
</head>
<body>

<h1>Table</h1>

<table id="example" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Temperature</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>red</td>
            <td>30</td>
        </tr>
        <tr>
            <td>red01</td>
            <td>40</td>
        </tr>
    </tbody>
</table>
</body>
</html>