{% set workflowslist = workflowlist %}
{% extends "base.html" %}

{% block title %}cloudmesh-cc{% endblock %}
{% block head %}
{{ super() }}


{% endblock %}


{% block page_content %}
        <script>
            var source = new EventSource("http://127.0.0.1:8000/done-count/{{ name_of_workflow }}");
            source.onmessage = function(event) {
                document.getElementById("donenumber").innerHTML = event.data
            }
            var source2 = new EventSource("http://127.0.0.1:8000/ready-count/{{ name_of_workflow }}");
            source2.onmessage = function(event2) {
                document.getElementById("readynumber").innerHTML = event2.data
            }
            var source3 = new EventSource("http://127.0.0.1:8000/failed-count/{{ name_of_workflow }}");
            source3.onmessage = function(event3) {
                document.getElementById("failednumber").innerHTML = event3.data
            }
            var source4 = new EventSource("http://127.0.0.1:8000/submitted-count/{{ name_of_workflow }}");
            source4.onmessage = function(event4) {
                document.getElementById("submittednumber").innerHTML = event4.data
            }
            var source5 = new EventSource("http://127.0.0.1:8000/running-count/{{ name_of_workflow }}");
            source5.onmessage = function(event5) {
                document.getElementById("runningnumber").innerHTML = event5.data
            }
            var source6 = new EventSource("http://127.0.0.1:8000/serve-datatable/{{ name_of_workflow }}");
            source6.onmessage = function(event6) {
                document.getElementById("datatablesubstitute").innerHTML = event6.data
                $(document).ready(function () {
    var table = $('#example').DataTable({
        "columnDefs": [
            { "width": "5%", "targets": 0 },
            { "targets": 0, visible: id_hidden},
            { "targets": 1, visible: name_hidden},
            { "targets": 2, visible: status_hidden},
            { "targets": 3, visible: host_hidden},
            { "targets": 4, visible: progress_hidden},
            { "targets": 5, visible: script_hidden}
        ],
        lengthMenu: [
            [-1, 10, 25, 50],
            ['All', 10, 25, 50],
        ],
    });
        $('a.toggle-vis').on('click', function (e) {
        e.preventDefault();

        // Get the column API object
        var column = table.column($(this).attr('data-column'));

        // Toggle the visibility
        column.visible(!column.visible());
    });

});
            }
        </script>
        <!-- Page Content  -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto"
                            type="button"
                            data-toggle="collapse"
                            data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent"
                            aria-expanded="false"
                            aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li><b class="btn badge-light"> Jobs</i> </b>
                            </li>
                            &nbsp;
                            <li>

                                <button type="button" class="btn badge-danger btn-sm">
                                    <small> <i class="fa fa-close" aria-hidden="true"></i> &nbsp; Failed</small> <span class="badge badge-light"><div id="failednumber"></div></span>
                                </button>
                            </li>
                            &nbsp;
                            <li>
                                <button type="button" class="btn badge-success btn-sm">
                                    <small> <i class="fa fa-check" aria-hidden="true"></i> &nbsp; Completed</small> <span class="badge badge-light"><div id="donenumber"></div></span>
                                </button>
                            </li>
                            &nbsp;
                            <li>
                            <button type="button" class="btn badge-info btn-sm">
                                <small><i class="fa fa-cog" aria-hidden="true"></i> &nbsp; Running</small> <span class="badge badge-light"><div id="runningnumber"></div></span>
                            </button>
                            </li>
                            &nbsp;

                            <li>
                            <button type="button" class="btn badge-warning btn-sm">
                                <small><i class="fa fa-external-link" aria-hidden="true"></i> &nbsp; Submitted</small> <span class="badge badge-light"><div id="submittednumber"></div></span>
                            </button>
                            </li>
                            &nbsp;

                            <li>
                            <button type="button" class="btn badge-light btn-sm">
                                <small><i class="fa fa-square" aria-hidden="true"></i> &nbsp; Ready</small> <span class="badge badge-light"><div id="readynumber"></div></span>
                            </button>
                            </li>
                            &nbsp;
                            <li>
                                <button type="button" class="btn badge-secondary btn-sm">
                                    <small> <i class="fa fa-plus-square" aria-hidden="true"></i> &nbsp; Add</small>
                                </button>
                            </li>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                            <li>
                             <b class="btn badge-light btn-sm"> Workflow </b>
                            </li>
                            <li>
                                <button type="button" class="btn badge-secondary btn-sm">
                                    <a href="/watcher/{{ name_of_workflow }}">

                                        <small><i class="fa fa-share-alt" aria-hidden="true"></i>   Graph</small></a>

                                </button>
                            &nbsp;
                            <li>
                                <button type="button" class="btn badge-success btn-sm">
                                    <a href="/workflow/run/{{ name_of_workflow }}"><small><i class="fa fa-rocket" aria-hidden="true"></i> &nbsp; Run</small></a>
                            </button>
                           </li>
                            &nbsp;

                            <li>
                            <button type="button" class="btn badge-danger btn-sm">
                                <small><i class="fa fa-ban" aria-hidden="true"></i> &nbsp; Stop</small>
                            </button>
                            </li>
                            &nbsp;

                            <!-- reset does stop, then empties out runtime -->
                            <!-- dir, copies original workflow into runtime -->
                            <!-- dir, and report back that its done. -->
                            <!-- popup yes/no choice in bootstrap -->
                            <li>
                            <button type="button" class="btn badge-danger btn-sm">
                                <small><i class="fa fa-recycle" aria-hidden="true"></i> &nbsp; Reset</small>
                            </button>
                            </li>
                            &nbsp;

                            <li>
                            <button type="button" class="btn badge-danger btn-sm">
                                <a href="/delete/{{ name_of_workflow }}"><small><i class="fa fa-trash" aria-hidden="true"></i> &nbsp; Delete</small></a>
                            </button>
                            </li>
                            &nbsp;

                            <li>
                            <button type="button" class="btn badge-info btn-sm">
                                <a href="/edit/{{ name_of_workflow }}"><small><i class="fa fa-pen-to-square" aria-hidden="true"></i> &nbsp; Edit</small></a>
                            </button>
                            </li>

                        </ul>
                    </div>
                </div>
            </nav>


<div class="container col-12">
    <style>
        a{
            cursor: pointer;
        }
    </style>
    <h2>Running {{ name_of_workflow }}</h2>
    <script type="text/javascript">
        let id_hidden = {{ preferences['id']|tojson|safe }};
        let name_hidden = {{ preferences['name']|tojson|safe }};
        let status_hidden = {{ preferences['status']|tojson|safe }};
        let host_hidden = {{ preferences['host']|tojson|safe }};
        let progress_hidden = {{preferences['progress']|tojson|safe}};
        let script_hidden = {{ preferences['script']|tojson|safe }};

    </script>
    <a class="toggle-vis" data-column="0"><b style="color:#293C89">ID</b></a> -
    <a class="toggle-vis" data-column="1"><b style="color:#293C89">Name</b></a> -
    <a class="toggle-vis" data-column="2"><b style="color:#293C89">Status</b></a> -
    <a class="toggle-vis" data-column="3"><b style="color:#293C89">Host</b></a> -
    <a class="toggle-vis" data-column="4"><b style="color:#293C89">Progress</b></a> -
    <a class="toggle-vis" data-column="5"><b style="color:#293C89">Script</b></a>
<!--    <meta http-equiv="refresh" content="3" />-->
    <div id="datatablesubstitute"></div>

</div>

{% endblock %}

{% block scripts %}
{{ super() }}
                
{% endblock %}