{% set workflowslist = workflowlist %}
{% extends "base.html" %}

{% block title %}cloudmesh-cc{% endblock %}
{% block head %}
{{ super() }}


{% endblock %}


{% block page_content %}

        <!-- Page Content  -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto"
                            type="button"
                            data-toggle="collapse"
                            data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent"
                            aria-expanded="false"
                            aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li><b class="btn badge-light"> Jobs</i> </b>
                            </li>
                            &nbsp;
                            <li>

                                <button type="button" class="btn badge-danger btn-sm">
                                    <small> <i class="fa fa-close" aria-hidden="true"></i> &nbsp; Failed</small> <span class="badge badge-light">{{ status_dict['failed'] }}</span>
                                </button>
                            </li>
                            &nbsp;
                            <li>
                                <button type="button" class="btn badge-success btn-sm">
                                    <small> <i class="fa fa-check" aria-hidden="true"></i> &nbsp; Completed</small> <span class="badge badge-light">{{ status_dict['completed'] }}</span>
                                </button>
                            </li>
                            &nbsp;
                            <li>
                            <button type="button" class="btn badge-info btn-sm">
                                <small><i class="fa fa-cog" aria-hidden="true"></i> &nbsp; Running</small> <span class="badge badge-light">{{ status_dict['running'] }}</span>
                            </button>
                            </li>
                            &nbsp;

                            <li>
                            <button type="button" class="btn badge-warning btn-sm">
                                <small><i class="fa fa-external-link" aria-hidden="true"></i> &nbsp; Submitted</small> <span class="badge badge-light">{{ status_dict['submitted'] }}</span>
                            </button>
                            </li>
                            &nbsp;

                            <li>
                            <button type="button" class="btn badge-light btn-sm">
                                <small><i class="fa fa-square" aria-hidden="true"></i> &nbsp; Ready</small> <span class="badge badge-light">{{ status_dict['ready'] }}</span>
                            </button>
                            </li>
                            &nbsp;
                            <li>
                                <button type="button" class="btn badge-secondary btn-sm">
                                    <small> <i class="fa fa-plus-square" aria-hidden="true"></i> &nbsp; Add</small>
                                </button>
                            </li>

                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                            <li>
                             <b class="btn badge-light btn-sm"> Workflow </b>
                            </li>
                            <li>
                                <button type="button" class="btn badge-secondary btn-sm">
                                    <a href="/watcher/{{ name_of_workflow }}">

                                        <small><i class="fa fa-share-alt" aria-hidden="true"></i>   Graph</small></a>

                                </button>
                            &nbsp;
                            <li>
                                <button type="button" class="btn badge-success btn-sm">
                                    <a href="/run/{{ name_of_workflow }}"><small><i class="fa fa-rocket" aria-hidden="true"></i> &nbsp; Run</small></a>
                            </button>
                           </li>
                            &nbsp;

                            <li>
                            <button type="button" class="btn badge-info btn-sm">
                                <small><i class="fa fa-refresh" aria-hidden="true"></i> &nbsp; Update</small>
                            </button>
                            </li>
                            &nbsp;

                            <li>
                            <button type="button" class="btn badge-danger btn-sm">
                                <small><i class="fa fa-ban" aria-hidden="true"></i> &nbsp; Stop</small>
                            </button>
                            </li>
                            &nbsp;

                            <!-- reset does stop, then empties out runtime -->
                            <!-- dir, copies original workflow into runtime -->
                            <!-- dir, and report back that its done. -->
                            <!-- popup yes/no choice in bootstrap -->
                            <li>
                            <button type="button" class="btn badge-danger btn-sm">
                                <small><i class="fa fa-recycle" aria-hidden="true"></i> &nbsp; Reset</small>
                            </button>
                            </li>
                            &nbsp;

                            <li>
                            <button type="button" class="btn badge-danger btn-sm">
                                <a href="/delete/{{ name_of_workflow }}"><small><i class="fa fa-trash" aria-hidden="true"></i> &nbsp; Delete</small></a>
                            </button>
                            </li>

                        </ul>
                    </div>
                </div>
            </nav>


<div class="container col-12">
    <style>
        a{
            cursor: pointer;
        }
    </style>
    <h2>{{ name_of_workflow }}</h2>
    <script type="text/javascript">
        let id_hidden = {{ preferences['id']|tojson|safe }};
        let name_hidden = {{ preferences['name']|tojson|safe }};
        let status_hidden = {{ preferences['status']|tojson|safe }};
        let host_hidden = {{ preferences['host']|tojson|safe }};
        let progress_hidden = {{preferences['progress']|tojson|safe}};
        let script_hidden = {{ preferences['script']|tojson|safe }};

    </script>
    <a class="toggle-vis" data-column="0"><b style="color:#293C89">ID</b></a> -
    <a class="toggle-vis" data-column="1"><b style="color:#293C89">Name</b></a> -
    <a class="toggle-vis" data-column="2"><b style="color:#293C89">Status</b></a> -
    <a class="toggle-vis" data-column="3"><b style="color:#293C89">Host</b></a> -
    <a class="toggle-vis" data-column="4"><b style="color:#293C89">Progress</b></a> -
    <a class="toggle-vis" data-column="5"><b style="color:#293C89">Script</b></a>
    <table id="example" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Host</th>
                    <th>Progress</th>
                    <th>Script</th>
                </tr>
            </thead>
            <tbody>
                {% for job, items in dictionary.items() %}
                <tr>
                    <td>{{items['number']}}</td>
                    <td>{{job}}</td>
                    <td>{{items['status']}}</td>
                    <td>{{items['host']}}</td>
                    <td>{{items['progress']}}</td>
                    <td>{{items['script']}}</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>

                </tr>
            </tfoot>
        </table>

</div>

{% endblock %}

{% block scripts %}
{{ super() }}
                
{% endblock %}