services:
  slurmjupyter:
        image: slurm-jupyter:latest
        hostname: slurmjupyter
        user: admin
        volumes:
                - shared-vol:/home/admin
        ports:
                - 8888:8888
  red:
        image: slurm-manager:latest
        hostname: red
        user: admin
        volumes:
                - shared-vol:/home/admin
        ports:
                - 6817:6817
                - 6818:6818
                - 6819:6819
  red01:
        image: slurm-node:latest
        hostname: red01
        user: admin
        volumes:
                - shared-vol:/home/admin
        links:
                - red
  red02:
        image: slurm-node:latest
        hostname: red02
        user: admin
        volumes:
                - shared-vol:/home/admin
        links:
                - red
  red03:
        image: slurm-node:latest
        hostname: red03
        user: admin
        volumes:
                - shared-vol:/home/admin
        links:
                - red
volumes:
        shared-vol:

